.ColorRed {text-align: center;
color: red;
font-family: Alex Brush;
font-size: 90px;
text-decoration: underline;
}

.ColorBlue {
    color: blue;
    text-decoration: underline;
    font-style: italic;}


.ColorGreen {
    color: green;
text-decoration: underline;}

.FondoGris1 {
    color: white;
  background-color: rgb(61, 59, 59);
}

#BoxModel {
    padding: 50px;
    width: 1700px;
    margin-right: auto;
    border: 15px solid blue;
}